.container {
  display: grid;
  width: 300px;
  padding: 15px;
  aspect-ratio: 5/4;
  border-radius: 10px;
  margin: 140px 6rem;
  grid-template-rows: auto 30px 25px;
  background: #f0f0f0;

  .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .line {
      height: 16px;
      background: #e0e0e0;
    }
  }
  .readme {
    .line {
      height: 16px;
      background: #e0e0e0;
      width: 100px;
    }
  }
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .line {
      height: 16px;
      background: #e0e0e0;
      width: 100px;
    }

    svg {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }
}
